 @media screen and (max-width:768px) {
     .section-1{
        background-color: red;
    }
    .container-2{
        flex-direction: column;
    }

} 

@media screen and (max-width:425px){
    .nav-options{
        display: none;
    }
    .about-authors{
        flex-basis: 100%;
        display: flex;
        border-bottom: none;
    }

    .flex-container .item{
        height: 30px;
        width: 100%;
        border: 2px solid #D9D9D9;
        margin: 3px;
        border-radius: 3px;
        border-left: 3px solid #345EC7;
        line-height: 25px;
   }


}